.leaderboardsection {
    text-align: center;
    font-size: 22px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    width: 25%;
}

#leaderboardtable {
    border-collapse: collapse;
    min-width: 400px;
    border-radius: 4px 4px 0 0;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.15);
    overflow: hidden;
}

.leaderboardheading th {
    background-color: #a81e22;
    color: whitesmoke;
    text-align: center;
    font-size: 26px;
    padding: 20px;
}

#leaderboardtable tr {
    background-color: #fbe8e9;
}

#leaderboardtable tr:nth-of-type(even) {
    background-color: #f5f8f8;
}

#leaderboardtable tr:last-of-type {
    border-bottom: whitesmoke 1px solid;
}

@media screen and (max-width:768px) {}

@media screen and (max-width:1200px) {}