* {
    margin: 0px;
    padding: 0px;

    box-sizing: border-box;
    font-family: 'metal-gear-4', sans-serif;
}

body {
    background-color: rgb(204, 204, 204);
    min-height: 100vh;
    max-width: 100%;

}

nav {
    display: flex;
    justify-content: space-around;
    min-height: 8vh;
    background-color: #a81e22;
    align-items: center;
}

.navlogo {
    color: whitesmoke;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    padding: 10px;
    align-items: center;
    display: flex;
}

.navlogo img {
    height: 80px;
    width: 70px;
    float: left;
    margin-right: 10px;
}

.navlinks {
    display: flex;
    width: 300px;
    justify-content: space-around;
}

.navlinks li {
    list-style: none;
}

.navlinks a {
    color: whitesmoke;
    letter-spacing: 2px;
    font-size: 12x;
    text-decoration: none;
}

.navlinks .active {
    text-decoration: underline;
}

.burgermenu {
    display: none;
}

.burgermenu div {
    width: 30px;
    height: 3px;
    background-color: whitesmoke;
    margin: 5px;
    transition: all 0.3s;
}

/*Media*/
@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
    }

    .navlinks {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #a81e22;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .navlinks li {
        opacity: 0;
    }

    .burgermenu {
        cursor: pointer;
        display: block;
    }

}

.burgeractive {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .topline {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .middleline {
    opacity: 0;
}

.toggle .bottomline {
    transform: rotate(45deg) translate(-5px, -6px);
}